@import 'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1';

:host {
  display: block;
}

.ios-shadow {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

input:focus,
textarea:focus {
  box-shadow: 0 0 0 3px rgba(19, 127, 236, 0.2);
}
