<div class="calendar basic-calendar">
  <div class="calendar-header">
    <button class="month-control" aria-label="previous month" (click)="previousMonth()">
      <span aria-hidden="true" class="material-symbols-outlined" translate="no">chevron_left</span>
    </button>
    <div class="calendar-title">
      <h3>{{ monthLabel() }}</h3>
      <button type="button" class="today-button" (click)="selectToday()">Today</button>
    </div>
    <button class="month-control" aria-label="next month" (click)="nextMonth()">
      <span aria-hidden="true" class="material-symbols-outlined" translate="no">chevron_right</span>
    </button>
  </div>

  <table
    ngGrid
    colWrap="continuous"
    rowWrap="nowrap"
    [enableSelection]="true"
    [softDisabled]="false"
    selectionMode="explicit"
    (keydown)="onKeyDown($event)"
  >
    <thead>
      <tr>
        @for (day of weekdays(); track day.long; let i = $index) {
          <th scope="col">
            <span class="visually-hidden">{{ day.long }}</span>
            <span aria-hidden="true">{{ day.narrow }}</span>
          </th>
        }
      </tr>
    </thead>
    @for (week of weeks(); track $index; let rowIndex = $index) {
      <tr ngGridRow>
        @if ($first) {
          @for (day of daysFromPrevMonth(); track day) {
            <td ngGridCell disabled>{{ day }}</td>
          }
        }
        @for (day of week; track day.iso; let colIndex = $index) {
          <td
            ngGridCell
            #cell="ngGridCell"
            [rowIndex]="rowIndex"
            [colIndex]="colIndex"
            [selected]="isSelected(day)"
            [class.is-active]="cell.active()"
          >
            <button
              type="button"
              ngGridCellWidget
              [attr.aria-label]="day.ariaLabel"
              [attr.data-day]="day.day"
              (click)="selectDay(day)"
              (keydown.enter)="selectDay(day)"
              class="day-button"
              [class.in-range]="isInRange(day)"
              [class.is-selected]="isSelected(day)"
            >
              {{ day.displayName }}
            </button>
          </td>
        }
        @if ($last && week.length + daysFromPrevMonth().length < 7) {
          @for (day of [].constructor(7 - week.length - daysFromPrevMonth().length); track $index) {
            <td ngGridCell disabled>{{ $index + 1 }}</td>
          }
        }
      </tr>
    }
  </table>
</div>
