.flow-builder {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  height: 100%;
}

.cdk-drag-preview {
  background: white;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
  border-radius: 0.75rem;
  border: 1px solid #d4d4d8;
  opacity: 0.9;
}

.cdk-drag-placeholder {
  background: #f4f4f5;
  border: 2px dashed #d4d4d8;
  border-radius: 0.75rem;
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
