<app-lead-detail-header
  [lead]="lead()"
  [fullName]="fullName()"
  [serviceTypeLabel]="serviceTypeLabel()"
  [hasSelectedService]="hasSelectedService()"
  [phone]="phone()"
  [email]="email()"
  [status]="status()"
  [pipelineStage]="pipelineStage()"
  [noServiceLabel]="noServiceLabel()"
  [statusMenuOpen]="statusMenuOpen()"
  [statusOptions]="statusOptions()"
  [selectedStatus]="selectedStatus()"
  [statusLabelMap]="statusLabelMap()"
  [energyLabelClass]="energyLabelClass()"
  [energyLabelVariant]="energyLabelVariant()"
  [canTriggerAiWorkflow]="canTriggerAiWorkflow()"
  [aiWorkflowTriggering]="aiWorkflowTriggering()"
  (back)="back.emit()"
  (toggleStatusMenu)="toggleStatusMenu.emit()"
  (closeStatusMenu)="closeStatusMenu.emit()"
  (selectStatus)="selectStatus.emit($event)"
  (createQuote)="createQuote.emit()"
  (triggerAiWorkflow)="triggerAiWorkflow.emit()"
  (editLead)="editLead.emit()"
  (callClicked)="callClicked.emit()"
  (emailClicked)="emailClicked.emit()"
  (whatsappClicked)="whatsappClicked.emit()"
  (navigateClicked)="navigateClicked.emit()"
  (logCallClicked)="logCallClicked.emit()"
></app-lead-detail-header>
