:host {
  display: block;
  width: 100%;
  height: 100%;
}

.schedule-scroll {
  scrollbar-width: thin;
  scrollbar-color: #e4e4e7 transparent;
}

.schedule-scroll::-webkit-scrollbar {
  width: 4px;
}

.schedule-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.schedule-scroll::-webkit-scrollbar-thumb {
  background-color: #e4e4e7;
  border-radius: 9999px;
}

