<organization-invite-form
  [title]="'organization.newInvite' | translate"
  [subtitle]="'organization.invite.subtitle' | translate"
  [listLinkLabel]="'organization.invites' | translate"
  [errorMessage]="errorMessage()"
  [successMessage]="successMessage()"
  [email]="email()"
  [emailError]="emailError()"
  [inviteToken]="inviteToken()"
  [submitLabel]="'organization.invite.send' | translate"
  [submitDisabled]="!canSubmit()"
  [submitLoading]="isSaving()"
  submitAriaLabel="Send invite"
  (emailChange)="email.set($event)"
  (submitted)="save()"
></organization-invite-form>
